@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.quisom{
    margin: auto;
    width: 70vw;
    min-width: 600px;
    padding-top: 25vh;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
        ' titulo foto'
        ' p foto'
    ;
    z-index: 4;
  
}

.quisom img{
    margin-left: 100px;
    margin-right: -100px;
    width: 500px;
    height: 300px;
    grid-area: foto;

}

.quisom h1{
    margin-left:-50px;
    color: black ;
    font-weight: bold;
    grid-area: titulo;
    font-family: 'Georgia', sans-serif;
}

.quisom p{
    margin-left: -50px;
    grid-area: p;
    color:black;
    font-size: x-large;
    /* font-family: 'Julius Sans One', sans-serif; */
}

#titulo_adopcion{
    font-family: 'Georgia', sans-serif;
    font-weight: bold;
    text-align: center;
    
    margin-top: 35vh;
}