@import "cards.css";
@import "quisom.css";
@import "donacion.css";
@import "voluntariado.css";
@import "dar_en_adopcion.css";
@import "header.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html{
    height: 100%;
    /* ESTO ES LO QUE HACE QUE AL CLICAR EN ALGUNA PARTE, SI EL CONTENIDO ESTA EN ESA PAGINA, VAYA DIRECTO
    A LA SECCIÓN INDICADA  */
    scroll-behavior: smooth;
}


body{
    display: flex;
    flex-direction: column;
    height: 100%;
}


footer{
    margin-top:  25vh;
    margin-bottom: 0px;
    background: #DF880D;
    color: white;
    text-align: right;
    height: 100px;
    line-height: 50px;
    padding-right: 8%;
    
    
}
 
.user{
    color: white;
    margin-right: 50px;
}
.seccionContenido{
    margin-top: 10vh;
    min-height: 85vh;
    /*IMPORTANTE para centrar en la pantalla*/
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.ContenedorBocadillo{
    display: flex;
	flex-wrap: wrap;

    /*IMPORTANTE para centrar*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble {
    margin: 50px;
    padding: 20px;
    position: relative;
    border-radius: 8px 8px 8px 8px;
    width: 30%;
    color: white;
    
    
}
.bubble:after {
    content: "";
    position: absolute;
   top: 100%;
   left: 265px;
   border-top: 20px solid ;
   border-top-color: inherit;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
}

.sabermas{
    width: 100%;
}

.contenidoAnimal{
    display: flex;
	flex-wrap: wrap;
    
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;

}


.informacionAnimal{
    width: 50%;
    padding-right: 3%;
   
}

.ImgBotonesAnimal{
    width: 50%;
    
    

}
.botonDonar{
    width: 49%;
    margin-left: 10px;
    margin-top: 40px;
    background-color: #86D865;
}
.botonDonar:hover{
    background-color: #b4ff97;
}

.botonAdoptar{
    width: 49%;
}




